/src/_ReSharper.RelocationMoverServices
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
*.resharper
*.csproj.user
TestResult.xml
/src/Packages.dgml
*.suo
*.docstates
*.ReSharper.user
dataimporter/
./connectionstringswapper
*.orig
*.DotSettings.user
*.DS_Store
/src/Backup
/src/_UpgradeReport_Files
/_Deploy
/_DeployScheduledTasks
/_Build
/connectionstringswapper/
/src/packages
/src/RelocationMoverServices.Web.UI/Scripts/WebLinc/initializers/inlineStyle.js
/src/RelocationMoverServices.Web.UI/Scripts/WebLinc/initializers/inlineStyle_getComputedStyle.js
/src/RelocationMoverServices.Web.UI/Scripts/WebLinc/initializers/inlineStyle_getMatchedCSSRules.js
/src/RelocationMoverServices.Web.UI/Scripts/WebLinc/initializers/inlineStyle_jquery.js
/src/RelocationMoverServices.Web.UI/Scripts/lib_*.js
/src/RelocationMoverServices.Web.UI/Scripts/site_*.js
/src/RelocationMoverServices.Web.UI/Content/site_*.css
/src/relocationmoverservices.legacywebservices/Logs
.sass-cache
/src/RelocationMoverServices.Web.UI/logs
/node_modules
/src/RelocationMoverServices.Web.UI/imagecache
